:root {
    --red: #CD5C5C;
    --light-red: #fff5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    color: var(--red);
    margin-bottom: 20px;
}

h2 {
    color: var(--red);
    margin-top: 20px;
    margin-bottom: 10px;
}

nav {
    
    margin-bottom: 30px;
    background-color: var(--red);
    padding: 10px;
    border-radius: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 0.9rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid var(--red);
    border-radius: 8px;
    background-color: var(--light-red);
}

section h1, section h2 {
    margin-top: 0;     
    margin-bottom: 10px; 
}


